body{
    color:blue;
    text-align: center;
    display: block;
    box-sizing: border-box;
    max-width: 350px;
    background-color: whitesmoke;
    width:fit-content;
    margin:auto;
    
}

  
img{
    border-radius: 50px;
    border-color: #fff;
}
.profile{
    background-color:black ;
    margin:50px;
    padding:20px;
    border-color:black ;
    width:100%;
    outline-color: invert; 
    font-weight: 900;
    

}
a{
    font-family:'Times New Roman';
    font-weight: 600;
    color: #fff;
}